html {
  font-size: 62.5%; }

body {
  padding-top: 70px;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; }
  h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
  h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
  h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
  h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
  h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

img.profile-img {
  max-width: 200px;
}

img.main-profile {
  max-width: 300px;
}

.ent-profile-dialog {
  min-width: 80%;
}

.ent-profile-content {
  border-radius: 0;
}

li.ent-item {
  border: black thin solid;
  list-style: none;
  display: inline;
  float: left;
  width: 25rem;
  height: 50rem;
  padding: 1rem;
  margin: 2rem;
}

.drop-container {
  width: 30rem;
}

.drop-form {
  margin-left: 5%;
}

.background-section {
  background-image: url('/images/main-background.JPG');
}

input.drop-form {
  width: 90%;
}

.donation-card {
  border: solid black thin;
}
