<div class="container-fluid">

  <div class="row admin-header">
    <div class="col-md-12">
      <div class="panel panel-default admin-panel">
        <div class="panel-body">
          <div class="col-md-3">
            <h2>Admin</h2>
            <h4>Welcome, Administrator</h4>
          </div>
          <div class="col-md-3">
            <h2 class="admin">${{ADC.totalLoansAmount}} <b>Ar</b></h2>
            <h4>Total Loans</h4>
          </div>
          <div class="col-md-2">
            <h2 class="admin admin-payments">${{ADC.totalPaymentsAmount}} <b>Ar</b></h2>
            <h4 class="admin admin-payments">Total Payments</h4>
          </div>
          <div class="col-md-2">
            <h2 class="admin admin-balance">${{ADC.totalLoansAmount - ADC.totalPaymentsAmount}} <b>Ar</b></h2>
            <h4 class="admin admin-balance">Current Balance</h4>
          </div>
          <div class="col-md-2">
            <h2 class="admin admin-donations">${{ADC.totalDonationsAmount}} <b>Ar</b></h2>
            <h4 class="admin admin-donations">Total Donated</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
        <admin-create></admin-create>
    </div> <!-- end of side col -->

    <div class="col-md-9">
      <div class="main-admin-dash">
        <div style="margin-bottom: 2rem" class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default admin-panel">Date Started <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span></button>
          <button type="button" class="btn btn-default admin-panel">Amount Paid <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span></button>
          <button type="button" class="btn btn-default admin-panel">Loan Amount <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span></button>
          <button type="button" class="btn btn-default admin-panel">Donor Funded Amount <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span></button>
        </div>

        <div class="group-section" ng-repeat="group in ADC.groups">
          <div class="panel panel-default group-table-panel admin-panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <h1>{{group.name}}</h1>
                  <h5>{{group.city}}, {{group.region}}</h5>
                </div>
                <div class="col-md-3">
                  <h2 class="admin-balance">{{group.groupAmount - group.groupPayments}}</h2>
                  <h4 class="admin-balance">Group Balance</h4>
                </div>
                <div class="col-md-3">
                  <h2 class="admin-payments">{{group.groupPayments}}</h2>
                  <h4 class="admin-payments">Group Payments</h4>
                </div>
                <div class="col-md-2">
                  <h2 class="admin admin-total">{{group.groupAmount}}</h2>
                  <h4 class="admin-total">Group Total</h4>
                </div>
              </div>

              <table class="table">
                <tr>
                  <th>Name</th>
                  <th>Loan Amount</th>
                  <th>Amount Raised</th>
                  <th>Balance</th>
                  <th># of Payments</th>
                </tr>
                <tr ng-repeat="loan in group.loans">
                  <td>{{loan.borrower.name}}</td>
                  <td>{{loan.amount}}</td>
                  <td>{{loan.totalDonations}}</td>
                  <td>{{loan.amount - loan.totalPayments}}</td>
                  <td>{{loan.payments.length}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end of row -->

</div>
