<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-8">
            <h1>{{ADC.title}}</h1>
            <h3>{{ADC.subtitle}}</h3>
          </div>
          <div class="col-md-4">
            <h4>Total Loans: ${{ADC.totalLoansAmount}} <b>Ar</b></h4>
            <h4>Total Payments: ${{ADC.totaPaymentsAmount}} <b>Ar</b></h4>
            <h4>Total Donated: ${{ADC.totalDonations}} <b>USD</b></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
        <admin-create></admin-create>
    </div> <!-- end of side col -->

    <div class="col-md-9">
      <div class="main-admin-dash">
        <h3 style="display: inline;" >Sort By:</h3>
        <div style="margin-bottom: 2rem" class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">Date Started <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span></button>
          <button type="button" class="btn btn-default">Amount Paid <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span></button>
          <button type="button" class="btn btn-default">Loan Amount <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span></button>
          <button type="button" class="btn btn-default">Donor Funded Amount <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span></button>
        </div>
        <div class="group-section" ng-repeat="group in ADC.groups">
          <div class="panel panel-default group-table-panel">
            <div class="panel-body">
              <h1>{{group.name}}</h1>
              <h3>{{group.city}}</h3>
              <h3>{{group.region}}</h3>
              <table class="table">
                <tr>
                  <th>Name</th>
                  <th>Loan Amount</th>
                  <th>Amount Raised</th>
                  <th>Balance</th>
                  <th># of Payments</th>
                  <th>Interest Paid</th>
                </tr>
                <tr>
                  <td>Group Total</td>
                  <td>{{group.groupAmount}}</td>
                  <td>{{group.groupDonations}}</td>
                  <td>{{group.groupAmount - group.groupPayments}}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr ng-repeat="loan in group.loans">
                  <td>{{loan.borrower.name}}</td>
                  <td>{{loan.amount}}</td>
                  <td>{{loan.totalDonations}}</td>
                  <td>{{loan.amount - loan.totalPayments}}</td>
                  <td>{{loan.payments.length}}</td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end of row -->

</div>
