<div class="site-wrapper bgimage-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="inner cover main-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <img class="main-logo" src="./images/orange-logo.png" alt="" />
            <h3 class="cover-heading main-title">MICRO LOANS WITH MASSIVE IMPACT</h3>
            <p class="lead">Bringing the power of community funding to entrepreneurs in Madagascar.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-2">
            <a type="button" href="/#/entrepreneurs" class="btn btn-lg btn-block front-button">Browse Entrepreneurs</a>
          </div>
          <div class="col-md-5">
            <a type="button" ng-click="MC.scrollToAbout()" class="btn btn-lg btn-block front-button">How It Works</a>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>


<div class="container-fluid">

  <div class="row seperator">
    <div class="col-md-12 section-title">
      <h2 class="">Featured Entrepreneurs</h2>
      <h4><a href="/#/entrepreneurs">Browse All</a></h4>
    </div>
  </div>

  <div class="row entBrowser">
    <div class="col-md-12">
      <ul class="ent-item">
        <li class="ent-item center-block" ng-repeat="loan in MC.featuredEnts">
          <ent-browse entrepreneur="loan">
          </ent-browse>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div id="about" class="row about-us">
    <div class="col-md-12">
      <h2>About Us</h2>
      <p class="lead">
        Church-key etsy kombucha, locavore pinterest kickstarter flexitarian four loko artisan forage austin yr. Swag messenger bag kinfolk chambray next level plaid cornhole yuccie. Actually DIY trust fund YOLO sustainable, messenger bag twee. Seitan tousled poutine quinoa blue bottle squid, bushwick letterpress stumptown heirloom sustainable echo park. Irony single-origin coffee farm-to-table man braid. Portland kitsch schlitz, pitchfork ugh tumblr normcore chicharrones fashion axe street art disrupt. Messenger bag deep v art party whatever narwhal, green juice tote bag chartreuse jean shorts chicharrones bushwick flannel portland selfies.

  Fashion axe marfa migas, pabst stumptown plaid schlitz neutra iPhone salvia etsy shabby chic fingerstache portland. 3 wolf moon occupy gochujang marfa chillwave small batch aesthetic. Mlkshk occupy meggings godard lomo tacos, quinoa small batch kitsch paleo. Heirloom vegan echo park, wolf polaroid squid YOLO fap kogi brunch kale chips umami lumbersexual cliche. Post-ironic DIY occupy, locavore brunch pop-up single-origin coffee shabby chic pabst heirloom vinyl dreamcatcher raw denim gochujang lomo. Beard leggings pop-up 3 wolf moon hella. Vegan beard butcher normcore, direct trade cliche humblebrag leggings.
      </p>
    </div>
  </div> -->

</div>
