<div class="site-wrapper bgimage-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="inner cover main-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <img class="main-logo img-responsive center-block" src="./app/images/orange-logo.png" alt="" />
            <h3 class="cover-heading main-title text-center">MICRO LOANS WITH MASSIVE IMPACT</h3>
            <p class="lead text-center">Bringing the power of community funding to entrepreneurs in Madagascar.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-2">
            <a type="button" href="/#/entrepreneurs" class="btn btn-lg btn-block front-button center-block">Browse Entrepreneurs</a>
          </div>
          <div class="col-md-5">
            <a type="button" ng-click="MC.scrollToAbout()" class="btn btn-lg btn-block front-button center-block">How It Works</a>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>


<div class="container-fluid">

  <div class="row seperator">
    <div class="col-md-12 section-title">
      <h2 class="">Featured Entrepreneurs</h2>
      <h4><a href="/#/entrepreneurs">Browse All</a></h4>
    </div>
  </div>

  <div class="row entBrowser">
    <div class="col-md-12">
      <ul class="ent-item">
        <div class="col-md-4" ng-repeat="loan in MC.featuredEnts">
          <li class="ent-item center-block">
            <ent-browse entrepreneur="loan">
            </ent-browse>
          </li>
        </div>
      </ul>
    </div>
  </div>

  <div id="about" class="row about-us">
    <div class="col-md-12">
      <h2 class="text-center">How It Works</h2>

      <div class="row about-us">
          <div class="col-md-8 col-md-offset-2">

            <h4>THE PROBLEM</h4>
            <p>
              Miray Community Development originated almost four years ago when founder, Peter Vance, visited Madagascar and saw the alarmingly low supply of capital for small business owners. 90% of Madagascar survives on only $2 a day and many locals rely on business activity, such as farming, to make a living. Micro finance companies and small banks provide loans but require collateral and have annual interest rates up to 50%. Loans sharks do not require collateral but have annual interest rates up to 1200%.
            </p>

            <h4>OUR SOLUTION</h4>
            <p>
              Miray Community Development seeks to unlock the abundant potential of entrepreneurs in rural Madagascar by providing community-based micro lending at the most competitive rates and locally managed business training to help small business' succeed. We can accomplished this because of three important things.
            </p>
            <!-- <h5>1.</h5> -->
            <p>
              1. Group Lending allows us to eliminate the need for monetary collateral. We lend out to groups of 8 to 10 small business owners that are accountable to each other for making minimum payments. Group Lending significantly reduces the rate of default. We have yet to have any of our 60 partners default.
            </p>
            <!-- <h5>2.</h5> -->
            <p>
              2. The global average annual interest rate for micro finance companies is 37%. Our rate is 18%. We accomplish this by hiring dedicated locals to manage lending and business training. This allows us to lower costs as well as provide jobs for locals.
            </p>
            <!-- <h5>3.</h5> -->
            <p>
              3. We provide small business training and meet with our clients weekly to help them develop their business and make sure they are on track for repaying their loans.

            </p>
            <h4>WHAT WE'VE ACHIEVED</h4>
            <ul>
              <li>Today, we have over $30,000 in loans outstanding to 65 clients.</li>
              <li>We have over 500 small business owners waiting to receive a loan.</li>
              <li>We are on track to give out 1000 loans in the year 2020.</li>
            </ul>

          </div>
      </div>

    </div>
  </div>

</div>
