<div class="container-fluid">
  <div class="userPage" ng-show="UC.userInfo">
    <div class="row">
      <div class="col-md-4">
        <h2>My Dashboard</h2>
        <h3>{{UC.profile.name}}</h3>
      </div>
      <div class="col-md-8">
        <div class="panel donation-sort">
          <div class="btn-group panel-body" role="group" aria-label="...">
            <ul class="sort-links">
              <li ng-class="{active: UC.sort[0]}" ng-click="UC.sortByTracker = '-amount'; UC.selectSort(0);">Loan Amount</li>
              <li ng-class="{active: UC.sort[1]}" ng-click="UC.sortByTracker = '-loan.paymentForDonor'; UC.selectSort(1);">Paid Back</li>
              <li ng-class="{active: UC.sort[2]}" ng-click="UC.sortByTracker = '(amount - loan.paymentForDonor)'; UC.selectSort(2);">Balance</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="user-sidebar">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Account Balance: {{UC.balance}}</h4>
              <h4>Total Funded: {{UC.totalFunded}}</h4>
              <h4>Amount Out: {{UC.amountOut}}</h4>
            </div>
          </div>
        </div>
      </div> <!-- end of main col -->
      <div class="col-md-8">
        <div class="main-user-component">
          <div class="panel panel-default" ng-repeat="donation in UC.profile.donations | orderBy: UC.sortByTracker">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-wrapper">
                    <img class="main-profile" src="{{donation.loan.borrower.image_url}}" alt="" />
                  </div>
                </div>
                <div class="col-md-5">
                  <h3>{{donation.loan.borrower.name}}</h3>
                  <p>
                    {{donation.loan.description}}
                  </p>
                </div>
                <div class="col-md-3">
                  <h5>Donated: {{donation.amount}}</h5>
                  <h5>Paid Back: {{donation.loan.paymentForDonor}}</h5>
                  <h5>Balance: {{donation.amount - donation.loan.paymentForDonor}}</h5>
                  <h5>Payments made: {{donation.loan.payments.length}}</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- end of main col -->
    </div> <!-- end of row -->
  </div> <!-- end of profile page -->

  <div class="errorSection" ng-hide="UC.userInfo">
    <div class="row">
      <div class="col-md-12">
        <h1>Oops...</h1>
        <h3>401 Unauthorized Access</h3>
        <p>
          We're not sure how you got here, but you need to be logged in to be here.
        </p>
      </div>
    </div>
  </div>

</div> <!-- end of container -->
