<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>
        Main header: buttons for arranging loans 'active' 'raising' 'all' 'sort by'
      </p>
    </div>
  </div> <!-- end of row -->

  <div class="row">
    <div class="col-md-4">
      <div class="user-sidebar">
        <h2>Summary</h2>
        <h4>{{UC.profile.name}}</h4>
        <pre>
          {{UC.profile.donations}}
        </pre>
      </div>
    </div> <!-- end of main col -->
    <div class="col-md-8">
      <div class="main-user-component">
        <pre>
          {{UC.profile}}
        </pre>
      </div>
    </div> <!-- end of main col -->
  </div> <!-- end of row -->

</div> <!-- end of container -->
